"{{.Name}}": {
    "type": "object",
    "properties": {
        {{$length := len .Resource.Properties}}{{$pc := counter $length}}{{range $name, $property := .Resource.Properties}}
        {{$property.Schema $name $.Name}}{{if call $pc}},{{end}}
        {{end}}
    },
    "required": [{{.Resource.Required}}]
}