package cloudformation

// AllResources fetches an iterable map all CloudFormation and SAM resources
func AllResources() map[string]Resource {
    return map[string]Resource{ {{range $name, $resource := .Resources}}
        "{{$name}}": {{$resource}},{{end}}
    }
}
