package resources

// {{.Name}} is a helper struct that can hold either {{.TypesJoined}} values 
type {{.Name}} struct {
	{{range $type := $.Property.PrimitiveTypes}}
	{{$type}} {{convertToGoType $type}}{{end}}
	{{range $type := $.Property.PrimitiveItemTypes}}
	{{$type}}Array []{{convertToGoType $type}}{{end}}
	{{range $type := $.Property.Types}}
	{{$type}} {{$.Basename}}_{{$type}}{{end}}
	{{range $type := $.Property.ItemTypes}}
	{{$type}}Array []{{$.Basename}}_{{$type}}{{end}}
}